Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
celery==5.3.4
redis==4.6.0
python-telegram-bot==20.7
django-celery-beat==2.5.0
python-dotenv==1.0.0
drf-yasg==1.21.7
django-filter==23.3